{
    "extends": ["react-app"],
    "rules": {
        "indent": 2,
        "curly": "warn",
        "no-console": 0,
        "prefer-const": "error",
        "space-before-blocks": "error",
        "react/no-unescaped-entities": "off",
        "quotes": [
            "error",
            "single"
        ],
        "semi": [
            "error",
            "always"
        ],
        "object-curly-spacing": [
            "error",
            "always"
        ]
    }
}
